@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* *{
    padding:0;
    margin:0;
} */

body{
    background-color: #f1f1f1;
    color: #0f141e;
    /*
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
     */

    font: normal 16px  'Roboto', sans-serif;;
}

.info{
    margin-bottom:20px ;
    display: flex;
}

.info-text{
    margin-left: 40px;
}

.info-text h4{
    margin-bottom: 10px;

}


a{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline ;
}

a:active{
    color: blue;
}

a:visited{
    color: grey;
}

.avatar{
    width: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
}

.info p{
    color:#86898f;
    margin: 0;
    font-style:italic;
    font-weight: bold;
    /* text-decoration: none; */
   /* letter-spacing: 5px; */
   /* word-spacing: 42px; */
    
}


.container{
    max-width:750px;
    margin: auto;
    padding-top: 30px;

} 



/* .social{
    background:red;
    
} */

/* .box-model >div{ 
    float: left;
    background: #0f141e;
    border: 4px solid red;
    height: 200px; 
    width: 25%;
    box-sizing: border-box;
} */

.bg-yellow{
    background:#fff9dc;
}

.bg-green{
    background:#e5ffe7;
}

.bg-blue{
    background: lightcyan;
    margin-right: 2%;
}

.bg-orange{
    background:#ede5c2;
}

/* .bg-red{
    background: red;
} */

.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2{
    margin-bottom: 10px;
}

.list{
    padding: 0 20px ;
}

.list li{
    color:#86898f;
    margin-bottom: 10px;
}

table{
    width: 100%; 
}

table td{
    padding-bottom: 10px;
}  


/*пвсевдно селектор по элементавм таблицы*/
.table td:nth-child(2),
.table td:nth-child(3){
    color:#86898f
}

.contact h2{
    text-align: center;
}

/*каждый из строчный элементов теперь блочный*/
.form-group label{
    display: block; 
    font-size: 14px;
    color: #86898f;
}
 
.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row{
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group{
    width: 50%;
    margin-right: 20px;
}

.row >.form-group:last-child{
    margin-right: 0;
}

.btn{
    background: black;
    padding: 15px 20px;
    color: white;
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.btn:hover{
    opacity: 0.9;
}

/* position */

.position{
   border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
}
.box{
    position: absolute;
    top: 50px;
    width: 50px;
    height:50px; 
    background: lightcoral;
}    

.skills{    
    display: flex;

}